#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}
body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 43%, rgba(153,0,255,1) 100%);
}

#greeting-container {
  margin-top: 20px;
}
